body {
    background-color: #ecedee
}

.card {
    border: none;
    overflow: hidden
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    overflow: hidden
}

.content p {
    font-size: 12px
}

.ratings span {
    font-size: 14px;
    margin-left: 12px
}


.right-side {
    position: relative
}

